.main-content {
    display: flex;
    height: calc(100vh - 80px);
}

.files-upload {
    position: relative;
    padding: 0 16px;
    margin-top: 16px;
}

.files-upload .title {
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
	font-size: 24px;
    margin-bottom: 36px;
    width: 100%;
    cursor: default;
    text-align: center;
    text-transform: capitalize;
}

.files-upload .fa.fa-refresh {
	margin-left: 8px;
	cursor: pointer;
}